@font-face {
    font-family: Lonely;
    src: url(../../Resources/fonts/Lonely.ttf);
}

@font-face {
    font-family: Antipani;
    src: url(../../Resources/fonts/Antapani-ExtraBold.otf);
}

@keyframes bg{
    0%{
        background-image: url(../../Resources/imgs/bg1.jfif);
        background-size: cover;
    }
    20%{
        background-image: url(../../Resources/imgs/bg2.jpg);
        background-size: cover;
    }
    40%{
        background-image: url(../../Resources/imgs/bg3.jfif);
        background-size: cover;
    }
    60%{
        background-image: url(../../Resources/imgs/bg4.jpg);
        background-size: cover;
    }
    80%{
        background-image: url(../../Resources/imgs/bg5.jfif);
        background-size: cover;
    }
    100%{
        background-image: url(../../Resources/imgs/bg1.jfif);
        background-size: cover;
    }
}

.bgChange{
    animation-name: bg;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    opacity: 0.5;
}

.fillInp{
    margin-top: 25px;
    font-size: 24px;
    font-family: Lonely;
    vertical-align: bottom;
    border: 2px black solid;
    border-radius: 6px;
    background-color: white;
    box-shadow: 5px 4px 16px 1px #000;
}

.btnInp{
    width: 12%;
    border-radius: 12px;
    font-family: Antipani;
    font-size: 20;
    margin-top: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 5px 4px 16px 1px #000;
}