.column-content {
  font-size: 20px;
  padding-left:
  20px;
  padding-top:
  10px;
  padding-bottom: 10px;
  color: black;
  background-color: #F5f5f5;
  transition: 3s;
}

.column-content:hover{
  color: white;
  background-color: rgb(67, 67, 126);
  transition: .3s;
}
