.card-main{
    width: 20%;
    height: 300px;
    margin: 25px;
    padding: 10%;
    padding-top: 10px;
    border-radius: 12px;
    background-color: rgb(69, 68, 126);
}

.fixLine{
    position: absolute;
    width: 100%;
    height: 340;
    margin-left: 7px;
    margin-right: 7px;
}

.insideD{
    width: 20%;
    height: 340;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    border: 1px rgb(175, 175, 175) solid;
}

.imgNews{
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
