.card-main{
    width: 40%;
    height:50%;
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 100px;
    border-radius: 12px;
    background-color: rgb(69, 68, 126);
}

card-insideD{
    width: 80%;
    height: 100px;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    border: 1px rgb(175, 175, 175) solid;
}

.imgNews{
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
